/* Showcase */
#title {
  background-color: #7579e7;
  color: white;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container-fluid {
  padding: 3% 15%;
}

.fluid-1 {
  padding-bottom: 7%;
}

#title .col-lg-6 h1 {
  font-weight: bolder;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 1.2rem;
}

.navlink {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
}

/* download buttons */
.row .header-text .btn {
  margin: 5% 3% 5% 0;
}

/* showcase image */
.row .col-lg-6 img {
  border-radius: 5px;
}

/* Features */

#features {
  background: white;
  position: relative;
}

#features .row {
  padding: 4rem 0;
}

#features .feature-item {
  text-align: center;
  padding: 1rem;
}

#features .feature-item .icon {
  margin-bottom: 1rem;
  color: #9ab3f5;
}

#features .feature-item .icon:hover {
  color: #7579e7;
}

#features .feature-item h3 {
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
}

#features .feature-item p {
  color: #afafaf;
}

/* Pricing */
#pricing {
  padding: 4% 15%;
}

#pricing .row {
  padding: 3% 2%;
}

#pricing .card {
  text-align: center;
  height: 380px;
}

#pricing .card-1 .btn,
#pricing .card-2 .btn {
  margin-top: 3.4rem;
}

.btn-purple {
  background-color: #7579e7;
  color: white;
}

.btn-outline-purple {
  background-color: white;
  border-color: #7579e7;
}

.btn-outline-purple:hover {
  background: #7579e7;
  color: white;
}

/* Call to Action */
#cta {
  background-color: #7579e7;
  color: white;
  text-align: center;
  padding: 7% 15%;
}

#cta h3 {
  font-weight: bolder;
  font-size: 3.5rem;
  line-height: 1.5;
  margin-bottom: 3rem;
  font-family: "Montserrat-Black", sans-serif;
}

/* Footer */
#footer {
  text-align: center;
  color: #afafaf;
  padding: 3% 15%;
}

#footer .fab,
#footer .fas {
  margin: 1rem 1rem;
}

#footer .fab:hover,
#footer .fas:hover {
  color: #7579e7;
}
